* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: larger;
}

header {
    background-color: darkslategrey;
    color: rgb(231, 231, 231);
}
h1 {
    padding: 20px;
    text-align: center;
}

main {
    padding: 40px 5vw;
    background-color: rgb(159, 192, 192);
}
ul {
    padding-left: 5vw;
}
main > ul {
    list-style: decimal;
}
